{% extends "mysite/base.html" %}
{%  block content %}
<div class='container'>
<br>
<h2>
{{ review.country }} {{ review.title }}
<br><br>
</h2>
{{ review.country_review }}

<!--links from https://github.com/codingforentrepreneurs/Guides/blob/master/all/social_share_links.md -->

<br><br> Share on:
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
Twitter
</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a>
</div>
{% endblock %}
